@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source "../js/**/*.{vue,ts,js}";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.card-title {
    @apply text-white mb-2;
}

.card-desc {
    @apply text-gray-400 text-sm;
}

@layer utilities {
    .gradient-red { @apply bg-gradient-to-br from-red-300 to-red-500; }
    .gradient-orange { @apply bg-gradient-to-br from-orange-300 to-orange-500; }
    .gradient-amber { @apply bg-gradient-to-br from-amber-300 to-amber-500; }
    .gradient-yellow { @apply bg-gradient-to-br from-yellow-300 to-yellow-500; }
    .gradient-lime { @apply bg-gradient-to-br from-lime-300 to-lime-500; }
    .gradient-green { @apply bg-gradient-to-br from-green-300 to-green-500; }
    .gradient-emerald { @apply bg-gradient-to-br from-emerald-300 to-emerald-500; }
    .gradient-teal { @apply bg-gradient-to-br from-teal-300 to-teal-500; }
    .gradient-cyan { @apply bg-gradient-to-br from-cyan-300 to-cyan-500; }
    .gradient-sky { @apply bg-gradient-to-br from-sky-300 to-sky-500; }
    .gradient-blue { @apply bg-gradient-to-br from-blue-300 to-blue-500; }
    .gradient-indigo { @apply bg-gradient-to-br from-indigo-300 to-indigo-500; }
    .gradient-violet { @apply bg-gradient-to-br from-violet-300 to-violet-500; }
    .gradient-purple { @apply bg-gradient-to-br from-purple-300 to-purple-500; }
    .gradient-fuchsia { @apply bg-gradient-to-br from-fuchsia-300 to-fuchsia-500; }
    .gradient-pink { @apply bg-gradient-to-br from-pink-300 to-pink-500; }
    .gradient-rose { @apply bg-gradient-to-br from-rose-300 to-rose-500; }
}

.entity-group.selected circle {
    stroke: white;
    stroke-width: 4;
    r: 54px;
    transition: all 0.2s ease;
}

.relationship-group.selected {
    stroke: blue;
    stroke-width: 3;
}


